<img src="../../../assets/auth/border.svg" />        
    <img src="../../../assets/auth/circle.svg" style="padding-top: 1.7rem;padding-bottom: 1.7rem;" />
    <div class="container">
        <div class="card " style="width: 18rem;">
            <div class="card-body">
                <form [formGroup]="signForm" (ngSubmit)="getData()">
                    <div class="form-group mb-2">
                      <input type="email" class="form-control" formControlName="email" placeholder="Enter Email">
                    </div>
                    <div class="form-group mb-2">
                      <input type="password" class="form-control" formControlName="password" placeholder="Enter Password">
                    </div>
                    <div class="form-group mb-2">
                        <input type="password" class="form-control" formControlName="confirm" placeholder="Confirm Password">
                    </div>
                    <button type="submit" class="btn btn-primary" >Signup</button>
                </form>
            </div>
        </div>
    </div>
    <img src="../../../assets/auth/title.png" class="title-image"/>
    <div class="d-flex justify-content-end">
        <div>
            <img src="../../../assets/auth/google.svg" />
            <img src="../../../assets/auth/facebook.svg" />
        </div>
        <div>
            <hr>or<hr>
            <!-- <img src="../../../assets/auth/or.svg" /> -->
        </div>
        <div class="card-text">
            Already Have An Account.!<span><a href="">Login</a></span>
        </div>
    </div>
<div class="bottom-border">
    <img src="../../../assets/auth/border.svg"/>        
</div>    
