<div class="container">
        <div class="card profile-card">
            <img src="/assets/home/profile.svg" style="width: 8rem; height: 8rem;" alt="profile" />
            <div class="card-body">
                <b style="margin-left: 5%;">Robbert</b>
                <p class="card-text">12 Post</p>
                <p class="card-text">62 Followers</p>
                <p class="card-text">120 Following</p>
                <button class="btn btn-primary" onclick="editProfile">Edit Profile</button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img src="/assets/home/feed1.svg" class="profile-img" alt="..." />
            </div>
            <div class="col">
                <img src="/assets/home/feed1.svg" class="profile-img" alt="..." />
            </div>
            <div class="col">
                <img src="/assets/home/feed1.svg" class="profile-img" alt="..." />
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img src="/assets/home/feed1.svg" class="profile-img" alt="..." />
            </div>
            <div class="col">
                <img src="/assets/home/feed1.svg" class="profile-img" alt="..." />
            </div>
            <div class="col">
                <img src="/assets/home/feed1.svg" class="profile-img" alt="..." />
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img src="/assets/home/feed1.svg" class="profile-img" alt="..." />
            </div>
            <div class="col">
                <img src="/assets/home/feed1.svg" class="profile-img" alt="..." />
            </div>
            <div class="col">
                <img src="/assets/home/feed1.svg" class="profile-img" alt="..." />
            </div>
        </div>
</div>