<img src="../../../assets/auth/border.svg" />        
<div class="container">
    <img src="../../../assets/auth/circle.svg" class="circle-img" />
        <div class="card">
            <div class="card-body">
                <form [formGroup]="loginForm" (ngSubmit)="login()">
                    <div class="form-group mb-2">
                      <input type="email" class="form-control" formControlName="email" placeholder="Enter Email">
                    </div>
                    <div class="form-group mb-2">
                      <input type="password" class="form-control" formControlName="password" placeholder="Enter Password">
                    </div>
                    <button type="submit" class="btn btn-primary justify-content-center">Login</button>
                </form>
            </div>
        </div>
        <img src="../../../assets/auth/title.png" class="title-image"/>
        <div class="d-flex align-items-end flex-column mb-3">
        <div>
            <img src="../../../assets/auth/google.svg" class="goggle p-2" />
            <img src="../../../assets/auth/facebook.svg" />
        </div>
        <div>
            <img src="../../../assets/auth/or.svg" />
        </div>
        <div class="card-text mt-3">
            Don't Have An Account.?<span><a routerLink="/register">SignUp</a></span>
        </div>
    </div>
</div>
<img src="../../../assets/auth/border.svg"/>        
    