body{
    background-color: #F6DCAC;
}

.card{
    margin-top: -23rem;
    margin-left: 0.7rem;
    border: none;
    background-color: #F6DCAC;
}

.bottom-border{
    position: relative;
    bottom: 0;
}

.form-group{
    flex-direction: column;
    justify-content: center;
}

.form-control{
    background-color: #FEAE6F;
    color: black;
    font-family: 'josefin slab';
    font-size: 20px;
    height: 3rem;
}

.btn{
    background-color: #028391; 
    color: white;
    text-align: center;
    height: 2.5rem;
    font-family: "josefin sans";
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-image{
    margin-left: 32rem;
    margin-top: -23rem;
}

.card-text{
    font-family: 'josefin slab';
    font-weight: bold;
    font-size: 19px;
}
span{
    color: #028391;
}

.side-card{
    display: flex;
    justify-content:flex-end;
}
hr{
    width: 8rem;
}