.setting-list{
    position: absolute;
    margin-top: -41%;
    margin-left: 29%;

    background-image: url('/assets/home/turtle.jpg');
    width: 54%;
    height: 90%;
    background-repeat: no-repeat;
    background-size: cover;
    button{
        margin: 1rem;
    }
}