<div>
    <app-navsidebar></app-navsidebar>
    <div class="setting-list">
        <h1>Setting</h1>
        <mat-list>
            <mat-divider></mat-divider>
            <mat-divider></mat-divider>
            <mat-divider></mat-divider>
            <button mat-fab extended>
                <mat-icon>favorite</mat-icon>
                Basic Basic Basic Basic
            </button>
            <mat-divider></mat-divider>
            <button mat-fab extended>
                <mat-icon>favorite</mat-icon>
                Basic Basic Basic Basic
            </button>
            <mat-divider></mat-divider>
            <button mat-fab extended>
                <mat-icon>favorite</mat-icon>
                Basic Basic Basic Basic
            </button>
            <mat-divider></mat-divider>
            <button mat-fab extended>
                <mat-icon>favorite</mat-icon>
                Basic Basic Basic Basic
            </button>
            <mat-divider></mat-divider>
            <mat-divider></mat-divider>
            <mat-divider></mat-divider>
        </mat-list>
    </div>
</div>